## Deliverable 3. Create a Travel Itinerary Map.

In [54]:
# Dependencies and Setup
import pandas as pd
import numpy as np
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [55]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,11,Bubaque,GW,79.30,light rain,11.2833,-15.8333,"Casa Dora, Bubaque"
1,13,Hirado,JP,77.40,moderate rain,33.3597,129.5531,Samson Hotel
2,16,La Grande,US,80.01,clear sky,45.3246,-118.0877,Travelodge by Wyndham La Grande
3,22,Buala,SB,85.12,light rain,-8.1450,159.5921,Maringe Lagoon Lodge
4,31,Mae Hong Son,TH,76.42,light rain,19.3003,97.9685,Baiyoke Chalet Hotel

In [56]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [57]:
# 4a. Add a marker layer for each city to the map.
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = vacation_df[["Lat", "Lng"]]
max_temp = vacation_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
#fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [58]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[(vacation_df["City"] == "Mastic Beach")]
vacation_end = vacation_start
vacation_stop1 = vacation_df.loc[(vacation_df["City"] == "Freeport")]
vacation_stop2 = vacation_df.loc[(vacation_df["City"] == "Newburgh")] 
vacation_stop3 = vacation_df.loc[(vacation_df["City"] == "Palmer")] 

vacation_start

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
159,496,Mastic Beach,US,78.78,overcast clouds,40.7668,-72.8521,Brushwood House by Smith Point Beach

In [59]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start =  (vacation_start["Lat"].to_numpy()[0], vacation_start["Lng"].to_numpy()[0])
end =    start
stop1 = (vacation_stop1["Lat"].to_numpy()[0], vacation_stop1["Lng"].to_numpy()[0])
stop2 = (vacation_stop2["Lat"].to_numpy()[0], vacation_stop2["Lng"].to_numpy()[0])
stop3 = (vacation_stop3["Lat"].to_numpy()[0], vacation_stop3["Lng"].to_numpy()[0])

start, end, stop1, stop2, stop3

((40.7668, -72.8521),
 (40.7668, -72.8521),
 (40.6576, -73.5832),
 (41.5034, -74.0104),
 (42.1584, -72.3287))

In [72]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".

fig = gmaps.figure(center=(41.0, -72.5), zoom_level=6.5)
start_to_end = gmaps.directions_layer(
        start, end, waypoints=[stop1, stop2, stop3],
        travel_mode='DRIVING')
fig.add_layer(start_to_end)
fig

Figure(layout=FigureLayout(height='420px'))

In [65]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_end, vacation_stop1, vacation_stop2, vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,496,Mastic Beach,US,78.78,overcast clouds,40.7668,-72.8521,Brushwood House by Smith Point Beach
1,496,Mastic Beach,US,78.78,overcast clouds,40.7668,-72.8521,Brushwood House by Smith Point Beach
2,107,Freeport,US,80.58,few clouds,40.6576,-73.5832,The Freeport Inn and Marina
3,376,Newburgh,US,78.58,broken clouds,41.5034,-74.0104,Ramada by Wyndham Newburgh/West Point
4,544,Palmer,US,76.24,overcast clouds,42.1584,-72.3287,Wedgewood Motel

In [73]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description} and {Max Temp} °F</dd></dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info_travel = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]
locations

       Lat      Lng
0  40.7668 -72.8521
1  40.7668 -72.8521
2  40.6576 -73.5832
3  41.5034 -74.0104
4  42.1584 -72.3287

In [74]:
# 11a. Add a marker layer for each city to the map.
locations = itinerary_df[["Lat", "Lng"]]
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info_travel)
fig = gmaps.figure(center=(41.0, -72.5), zoom_level=6.5)

fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))